@charset "utf-8";

*{
    color: #555;
    font-family: Arial;
    font-size:100%;
    margin: 0;
    padding: 0;
}

.container, header, section, footer, h1, h2, img, figure, figcaption {
    -webkit-box-sizing:  border-box;
    -o-box-sizing:  border-box;
    box-sizing:  border-box;
    width: 100%;
}

header, section, footer {
    background-color: #fff;
    margin-top: 5px;
    
}

.container {
    background-color: #ccc;
}