@charset "utf-8";

body{
    color: #fff;
    font-family: Verdana;
    font-size: 100%;
}

form {  
    background-color: darkblue;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.campo{
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
    width: 200px;
}

a{
    color: cornflowerblue;
}

.botao{
    border: 1px solid #ddd;
    height: 30px;
    width: 100px;
}